# MAC 
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Vim
*~
*.swo
*.swp

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files, since they will be recreated, and may
# cause churn.  Uncomment if using auto-import.
# *.iml
# *.ipr

# File-based project format
*.iws

# IntelliJ
out/
venv/
.idea/






